.wrapper{
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  align-items:center;
  justify-content: center;
  background: black;
  font-family:'Times New Roman', Times, serif;
}
@media(min-width:650px){
  .wrapper .static-txt{
    color: #cfc4c4;
    font-size: 40px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 6s steps(1) infinite;
  }
  @keyframes slide {
    100%{
      top: -90px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 3px 0;
    line-height: 40px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(9) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 40px);
    }
    100%{
      left: 0;
    }
}
}
@media(min-width:450px) and (max-width:650px){
  .wrapper .static-txt{
    color: #cfc4c4;
    font-size: 30px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 6s steps(1) infinite;
  }
  @keyframes slide {
    100%{
      top: -90px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 3px 0;
    line-height: 30px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(9) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}
}
@media(min-width:250px) and (max-width:450px){
  .wrapper .static-txt{
    color: #cfc4c4;
    font-size: 20px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 6s steps(1) infinite;
  }
  @keyframes slide {
    100%{
      top: -90px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 1px 0;
    line-height: 30px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(9) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
}
}